@model IEnumerable<Domain.Education>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SchoolName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EducationType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudyYears)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Programme)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderNo)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Cv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyYears)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cv.CvId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EducationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EducationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EducationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
